elpa/
.tern-port
.session
.smex-items
.uptimes.el
elpa/
elpa-25.2/
elpa-25.3/
.DS_Store
.#*
\#*
custom.el
ditaa0_9.jar
history
myinit.org_archive
plantuml.jar
projectile.cache
smex-items
tramp
org-clock-save.el
.historian
ac-comphist.dat
myinit.el
projectile-bookmarks.eld
recentf
eshell/
.emacs.desktop
.emacs.desktop.lock
nov-places
.historian
.session
.smex-items
.uptimes.el
eshell/